@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@400;500;600;700;800&display=swap');

:root {
  --text-color: #fff;
  --background-color: #111112;
  --border-color: #cacaca;
  --red-color: red;
  --green-color: rgb(177, 189, 63);
  --dark-green-color: green;
  --orange-color: orange;
  --yellow-color: yellow;
  --shadow-color: rgba(255, 255, 255, 0.2);
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.disabled-btn {
  pointer-events: none;
}
