@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@400;500;600;700;800&display=swap');

body {
  color: #fff;
  background: #111112;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.disabled-btn {
  pointer-events: none;
}
